@font-face {
font-family: 'Montserrat';
src: url('/web/user/fonts/montserrat/montserrat_medium.woff') format('woff'), url('/web/user/fonts/montserrat/montserrat_medium.ttf') format('ttf');
font-weight: 500;
font-style: normal;
font-display: swap;
}